<h1>New task</h1>
	<div class="grid_4 layout">
		List of tasks?	
	</div>
	<div class="grid_12 layout" id="right_display">
         <%= render 'form' %>
	</div>
	</div>
<%= link_to 'Back', tasks_path %>
